db:
  auth: &defaultAuthDB "trinity:trinity@tcp(127.0.0.1:3306)/auth"
  characters: &defaultCharactersDB
    1: "trinity:trinity@tcp(127.0.0.1:3306)/characters"
  world: &defaultWorldDB "trinity:trinity@tcp(127.0.0.1:3306)/world"
  # Supported 2 schema types:
  #   tc - TrinityCore
  #   ac - AzerothCore
  schemaType: &defaultSchemaType "ac"

nats: &defaultNatsUrl "nats://localhost:4222"
redis: &defaultRedisUrl "redis://:@localhost:6379/0"

logging: &defaultLogging
  # Available options:
  #   dev
  #   json
  format: dev

  # Available logging levels:
  # -1 - Trace
  #  0 - Debug
  #  1 - Info
  #  2 - Warning
  #  3 - Error
  level: 0

auth:
  port: 3724
  authDB: *defaultAuthDB
  dbSchemaType: *defaultSchemaType
  serversRegistryServiceAddress: localhost:8999
  logging: *defaultLogging

characters:
  port: 8991
  charactersDB: *defaultCharactersDB
  worldDB: *defaultWorldDB
  natsUrl: *defaultNatsUrl
  serversRegistryServiceAddress: localhost:8999
  logging: *defaultLogging

chat:
  port: 8992
  natsUrl: *defaultNatsUrl
  logging: *defaultLogging

gateway:
  port: 8085
  realmId: 1
  authDB: *defaultAuthDB
  dbSchemaType: *defaultSchemaType
  healthCheckPort: 8900
  preferredHostname: localhost
  charactersServiceAddress: "localhost:8991"
  serversRegistryServiceAddress: "localhost:8999"
  chatServiceAddress: "localhost:8992"
  guildsServiceAddress: "localhost:8995"
  mailServiceAddress: "localhost:8997"
  groupServiceAddress: "localhost:8998"
  matchmakingServiceAddress: "localhost:8994"
  packetProcessTimeoutSecs: 20
  showGameserverConnChangeToClient: true
  natsUrl: *defaultNatsUrl
  logging: *defaultLogging

guid:
  port: 8996
  redisUrl: *defaultRedisUrl
  charactersDB: *defaultCharactersDB
  logging: *defaultLogging

guild:
  port: 8995
  natsUrl: *defaultNatsUrl
  charactersDB: *defaultCharactersDB
  logging: *defaultLogging

mail:
  port: 8997
  natsUrl: *defaultNatsUrl
  charactersDB: *defaultCharactersDB
  expiredMailsCleanupSecsDelay: 3600
  defaultMailExpirationTimeSecs: 2592000
  logging: *defaultLogging

group:
  port: 8998
  natsUrl: *defaultNatsUrl
  charactersDB: *defaultCharactersDB
  charactersServiceAddress: "localhost:8991"
  logging: *defaultLogging

servers-registry:
  port: 8999
  redisUrl: *defaultRedisUrl
  natsUrl: *defaultNatsUrl
  logging: *defaultLogging
  realmsID:
    - 1

matchmakingserver:
  port: 8994
  natsUrl: *defaultNatsUrl
  logging: *defaultLogging
  worldDB: *defaultWorldDB
  charactersDB: *defaultCharactersDB
  battleGroups:
    1: "1"

gameserver:
  grpcPort: 9501
  healthCheckPort: 8901
  preferredHostname: ""
  serversRegistryServiceAddress: "localhost:8999"
  guidProviderServiceAddress: "localhost:8996"
  matchmakingServiceAddress: "localhost:8994"
  characterGuidsBufferSize: 50
  itemGuidsBufferSize: 200
  instanceGuidsBufferSize: 10
  natsUrl: *defaultNatsUrl
  logging: *defaultLogging

# Optional. More details here https://github.com/walkline/ToCloud9/tree/master/apps/perun.
# Requires `binary` field update for windows.
perun:
  apps:
# Optional, if you want to run redis and nats using perun.
#  - name: "redis"
#    alias:
#      - "r"
#    binary: "/opt/homebrew/bin/redis-server"
#    startupTimeoutSecs: 10
#    partOfAppStartedLogMsg: "Ready to accept connections tcp"
#  - name: "nats"
#    alias:
#      - "n"
#    binary: "/opt/homebrew/bin/nats-server"
##      args:
##        - "--trace"
#    startupTimeoutSecs: 10
#    partOfAppStartedLogMsg: "Server is ready"
    - name: "servers-registry"
      alias:
        - "sr"
      binary: "./servers-registry"
      startupTimeoutSecs: 10
    - name: "guidserver"
      alias:
        - "guid"
      binary: "./guidserver"
      startupTimeoutSecs: 10
    - name: "authserver"
      alias:
        - "as"
        - "auth"
      binary: "./authserver"
      startupTimeoutSecs: 10
    - name: "charserver"
      alias:
        - "char"
        - "c"
      binary: "./charserver"
      startupTimeoutSecs: 10
    - name: "guildserver"
      alias:
        - "guild"
      binary: "./guildserver"
      startupTimeoutSecs: 10
    - name: "chatserver"
      alias:
        - "chat"
      binary: "./chatserver"
      startupTimeoutSecs: 10
    - name: "mailserver"
      alias:
        - "m"
        - "mail"
      binary: "./mailserver"
      startupTimeoutSecs: 10
    - name: "groupserver"
      alias:
        - "group"
        - "gr"
      binary: "./groupserver"
      startupTimeoutSecs: 10
    - name: "gateway"
      alias:
        - "gw"
        - "lb"
        - "glb"
        - "gamelb"
      binary: "./gateway"
      startupTimeoutSecs: 10