version: "3.9"
services:
  game-load-balancer:
    build:
      context: .
      dockerfile: apps/game-load-balancer/Dockerfile
    ports:
      - "8333:8333"
      - "8085:8085"
      - "8900:8900"
      - "4000:4000"
    depends_on:
      - servers-registry
    environment:
      SERVERS_REGISTRY_SERVICE_ADDRESS: servers-registry:8999
      CHAR_SERVICE_ADDRESS: charserver:8087
      CHAT_SERVICE_ADDRESS: chatserver:8992
      GUILDS_SERVICE_ADDRESS: guildserver:8995
      MAIL_SERVICE_ADDRESS: mailserver:8997
      AUTH_DB_CONNECTION: ${AUTH_DB_USER}:${AUTH_DB_PASS}@tcp(${AUTH_DB_HOST}:${AUTH_DB_PORT})/${AUTH_DB_NAME}
      DB_SCHEMA_TYPE: ${DATABASE_SCHEMA_TYPE}
      PREFERRED_HOSTNAME: ${EXTERNAL_ADDRESS}
      LOG_LEVEL: 0
      PORT: 8085
      NATS_URL: nats://nats:4222

  game-load-balancer-second:
    build:
      context: .
      dockerfile: apps/game-load-balancer/Dockerfile
    ports:
      - "8045:8045"
    depends_on:
      - servers-registry
    environment:
      SERVERS_REGISTRY_SERVICE_ADDRESS: servers-registry:8999
      CHAR_SERVICE_ADDRESS: charserver:8087
      CHAT_SERVICE_ADDRESS: chatserver:8992
      GUILDS_SERVICE_ADDRESS: guildserver:8995
      MAIL_SERVICE_ADDRESS: mailserver:8997
      AUTH_DB_CONNECTION: ${AUTH_DB_USER}:${AUTH_DB_PASS}@tcp(${AUTH_DB_HOST}:${AUTH_DB_PORT})/${AUTH_DB_NAME}
      DB_SCHEMA_TYPE: ${DATABASE_SCHEMA_TYPE}
      PREFERRED_HOSTNAME: ${EXTERNAL_ADDRESS}
      LOG_LEVEL: 0
      PORT: 8045
      NATS_URL: nats://nats:4222

  servers-registry:
    build:
      context: .
      dockerfile: apps/servers-registry/Dockerfile
    ports:
      - "8999:8999"
    depends_on:
      - redis
    environment:
      PORT: 8999
      REDIS_URL: redis://:@redis:6379/0

  authserver:
    build:
      context: .
      dockerfile: apps/authserver/Dockerfile
    ports:
      - "3724:3724"
    environment:
      PORT: 3724
      AUTH_DB_CONNECTION: ${AUTH_DB_USER}:${AUTH_DB_PASS}@tcp(${AUTH_DB_HOST}:${AUTH_DB_PORT})/${AUTH_DB_NAME}
      DB_SCHEMA_TYPE: ${DATABASE_SCHEMA_TYPE}
      SERVERS_REGISTRY_SERVICE_ADDRESS: servers-registry:8999

  charserver:
    build:
      context: .
      dockerfile: apps/charserver/Dockerfile
    ports:
      - "8087:8087"
    environment:
      PORT: 8087
      CHAR_DB_CONNECTION: ${CHAR_DB_USER}:${CHAR_DB_PASS}@tcp(${CHAR_DB_HOST}:${CHAR_DB_PORT})/${CHAR_DB_NAME}
      WORLD_DB_CONNECTION: ${WORLD_DB_USER}:${WORLD_DB_PASS}@tcp(${WORLD_DB_HOST}:${WORLD_DB_PORT})/${WORLD_DB_NAME}

  chatserver:
    build:
      context: .
      dockerfile: apps/chatserver/Dockerfile
    environment:
      NATS_URL: nats://nats:4222
      PORT: 8992

  guildserver:
    build:
      context: .
      dockerfile: apps/guildserver/Dockerfile
    depends_on:
      - nats
    environment:
      CHAR_DB_CONNECTION: ${CHAR_DB_USER}:${CHAR_DB_PASS}@tcp(${CHAR_DB_HOST}:${CHAR_DB_PORT})/${CHAR_DB_NAME}
      NATS_URL: nats://nats:4222
      PORT: 8995

  guidserver:
    build:
      context: .
      dockerfile: apps/guidserver/Dockerfile
    depends_on:
      - redis
    environment:
      CHAR_DB_CONNECTION: ${CHAR_DB_USER}:${CHAR_DB_PASS}@tcp(${CHAR_DB_HOST}:${CHAR_DB_PORT})/${CHAR_DB_NAME}
      REDIS_URL: redis://:@redis:6379/0
      PORT: 8996
    ports:
      - '8996:8996'

  mailserver:
    build:
      context: .
      dockerfile: apps/mailserver/Dockerfile
    environment:
      CHAR_DB_CONNECTION: ${CHAR_DB_USER}:${CHAR_DB_PASS}@tcp(${CHAR_DB_HOST}:${CHAR_DB_PORT})/${CHAR_DB_NAME}
      NATS_URL: nats://nats:4222
      PORT: 8997
    ports:
      - '8997:8997'

  gameserver_tc:
    build:
      context: .
      dockerfile: game-server/trinitycore/Dockerfile
    volumes:
    - ${CORE_ETC_PATH}:/repo/bin/etc
    - ${CORE_DATA_PATH}:/data
    environment:
      TC_LOGIN_DATABASE_INFO: ${AUTH_DB_HOST};${AUTH_DB_PORT};${AUTH_DB_USER};${AUTH_DB_PASS};${AUTH_DB_NAME}
      TC_WORLD_DATABASE_INFO: ${WORLD_DB_HOST};${WORLD_DB_PORT};${WORLD_DB_USER};${WORLD_DB_PASS};${WORLD_DB_NAME}
      TC_CHARACTER_DATABASE_INFO: ${CHAR_DB_HOST};${CHAR_DB_PORT};${CHAR_DB_USER};${CHAR_DB_PASS};${CHAR_DB_NAME}
      TC_CONSOLE_ENABLE: 0
      TC_RA_ENABLE: 0
      TC_SOAP_ENABLE: 0
      TC_DATA_DIR: /data
      CHARACTER_GUIDS_BUFFER_SIZE: 5
      ITEM_GUIDS_BUFFER_SIZE: 50
      NATS_URL: nats://nats:4222
      GRPC_PORT: 9509
      GUID_PROVIDER_SERVICE_ADDRESS: guidserver:8996
      SERVERS_REGISTRY_SERVICE_ADDRESS: servers-registry:8999
    profiles:
      - tc

  gameserver_ac:
    build:
      context: .
      dockerfile: game-server/azerothcore/Dockerfile
    volumes:
      - ${CORE_ETC_PATH}:/repo/bin/etc
      - ${CORE_DATA_PATH}:/data
    environment:
      AC_LOGIN_DATABASE_INFO: ${AUTH_DB_HOST};${AUTH_DB_PORT};${AUTH_DB_USER};${AUTH_DB_PASS};${AUTH_DB_NAME}
      AC_WORLD_DATABASE_INFO: ${WORLD_DB_HOST};${WORLD_DB_PORT};${WORLD_DB_USER};${WORLD_DB_PASS};${WORLD_DB_NAME}
      AC_CHARACTER_DATABASE_INFO: ${CHAR_DB_HOST};${CHAR_DB_PORT};${CHAR_DB_USER};${CHAR_DB_PASS};${CHAR_DB_NAME}
      AC_CONSOLE_ENABLE: 0
      AC_RA_ENABLE: 0
      AC_SOAP_ENABLE: 0
      AC_DATA_DIR: /data
      CHARACTER_GUIDS_BUFFER_SIZE: 5
      ITEM_GUIDS_BUFFER_SIZE: 50
      NATS_URL: nats://nats:4222
      GRPC_PORT: 9509
      GUID_PROVIDER_SERVICE_ADDRESS: guidserver:8996
      SERVERS_REGISTRY_SERVICE_ADDRESS: servers-registry:8999
    profiles:
      - ac

  nats:
    image: 'nats:2.9.20'
    expose:
      - "4222"
    ports:
      - "4222:4222"
      - "8222:8222"
    hostname: nats-server

  redis:
    image: redis:7.0.8-alpine
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - ./cache:/data